castingstation.jpeg filter=lfs diff=lfs merge=lfs -text
cross-section-drawing.jpg filter=lfs diff=lfs merge=lfs -text
fabricationprocess_0.png filter=lfs diff=lfs merge=lfs -text
firstmolddesign.jpg filter=lfs diff=lfs merge=lfs -text
pvainsert.jpg filter=lfs diff=lfs merge=lfs -text
ss45mess.jpg filter=lfs diff=lfs merge=lfs -text
tpuinsertfab.jpg filter=lfs diff=lfs merge=lfs -text
tpupincasting.jpg filter=lfs diff=lfs merge=lfs -text
newmolds.jpg filter=lfs diff=lfs merge=lfs -text
pclinsert.jpg filter=lfs diff=lfs merge=lfs -text
waxinserts.jpg filter=lfs diff=lfs merge=lfs -text
splitinsert.jpg filter=lfs diff=lfs merge=lfs -text
twopartinsert.jpg filter=lfs diff=lfs merge=lfs -text
barb.jpg filter=lfs diff=lfs merge=lfs -text
endcaps.jpg filter=lfs diff=lfs merge=lfs -text
fab.jpg filter=lfs diff=lfs merge=lfs -text
f filter=lfs diff=lfs merge=lfs -text
fiberglass.jpg filter=lfs diff=lfs merge=lfs -text
